In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
sklearn

In [28]:
df = pd.read_csv('50_Startups.csv')

In [29]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [30]:
def my_func(x):
    if x == 'New York':
        return 1
    elif x == 'California':
        return 2
    else:
        return 3

In [31]:
df['State'] = df['State'].apply(my_func)

In [32]:
df['R&D Spend'] = df['R&D Spend'].apply(lambda x: 0 if x == 0 else np.log(x))
df['Administration'] = df['Administration'].apply(lambda x: 0 if x == 0 else np.log(x))
df['Marketing Spend'] = df['Marketing Spend'].apply(lambda x: 0 if x == 0 else np.log(x))
df['Profit'] = df['Profit'].apply(lambda x: 0 if x == 0 else np.log(x))

In [33]:
rd = df['R&D Spend'].values
admin = df['Administration'].values
market = df['Marketing Spend'].values
state = df['State'].values
Y0 = df['Profit'].values

In [34]:
x0 = np.ones(len(rd))
X = np.array([x0, rd, admin, market, state]).T
B = np.array([0, 0, 0, 0, 0])
Y = np.array(Y0)
alpha = 0.0001

In [35]:
def cost_function(X, Y, B):
    m = len(Y)
    J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
    return J

In [36]:
inital_cost = cost_function(X, Y, B)
print(inital_cost)

66.71818987367249

In [37]:
def gradient_descent(X, Y, B, alpha, iterations):
    cost_history = [0] * iterations
    m = len(Y)
    
    for iteration in range(iterations):
        h = X.dot(B)#Hypothesis
        loss = h - Y# diff between h and actual target
        gradient = X.T.dot(loss) / m#gradient
        B = B - alpha * gradient#changing B
        cost = cost_function(X, Y, B)#new cost value
        cost_history[iteration] = cost#cost history
        
    return B, cost_history

In [52]:
newB, cost_history = gradient_descent(X, Y, B, alpha, 10000)

# New Values of B
print(newB)

# Final Cost of new B
print(cost_history[-1])

[ 0.07454742  0.17577488  0.82633544 -0.01291972  0.06212446]
0.037694315045522536

In [41]:
Y_pred = X.dot(newB)
rmse = np.sqrt(np.sum((Y - Y_pred) ** 2) / len(Y))
print(rmse)

0.27456990019127203

In [42]:
score = 1 - (np.sum((Y - Y_pred) ** 2) / np.sum((Y - np.mean(Y)) ** 2))
print(score)

0.6413729678748148